<head> </head>

<div class="divContainer">
  <div class="routeMenuContainer">
    <h2>Route Summary</h2>
    <form class="routeSelectorForm">
      <div>
        <label for="routeIdSelector">Select route: </label>
        <select id="routeIdSelector" name="selectedRouteId" [(ngModel)]="selectedRouteId">
          <option *ngFor="let routeId of routeList" [ngValue]="routeId.id">{{ routeId.title }}</option>
        </select>
      </div>
      <div class="routeControlButtons">
        <app-button [label]="'Display Route'" (buttonClick)="displayRoute()"></app-button>
        <app-button [label]="'Clear All'" (buttonClick)="clearAll()"></app-button>
      </div>
    </form>
    <p *ngIf="isRouteSelected">Title: {{ routeTitle }}</p>
    <p *ngIf="isRouteSelected">Description: {{ routeDescription }}</p>
    <p *ngIf="isRouteSelected">Rating: {{ routeRating }}</p>
    <p *ngIf="isRouteSelected">Total Distance:{{ routeDistance }}</p>
    <p *ngIf="isRouteSelected">Total Cost: {{ routeCost }}</p>
    <div class="reviewMenu">
      <form class="reviewForm">
        <div *ngIf="isRouteSelected">
          <div *jhiHasAnyAuthority="'ROLE_USER'">
            <label for="ratingUserInput">Rate this route:</label>
            <input
              id="ratingUserInput"
              name="ratingUserInput"
              type="number"
              placeholder="Enter a rating"
              min="1"
              max="5"
              [(ngModel)]="userRating"
            />
            <app-button [label]="'Submit Review'" (buttonClick)="updateRating()"></app-button>
            <p *ngIf="isReviewPosted" id="reviewSuccessText">Review successfully posted!</p>
            <p *ngIf="isRatingInvalid" id="reviewFailureText">Rating must be between 1 and 5!</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="mapContainer">
    <div class="mapBorder">
      <div id="map"></div>
    </div>
  </div>
</div>
