.divContainer {
  display: flex;
  height: 900px;
}

.routeMenuContainer {
  background-color: #2f2d2d;
  color: white;
  height: auto;
  width: 30%;
  display: inline;
  padding-left: 15px;
}

.routeSelectorForm {
  label {
    margin-bottom: 10px;
  }
}

.mapContainer {
  height: auto;
  width: 70%;
}

#reviewSuccessText {
  color: green;
}

#reviewFailureText {
  color: red;
}

#map {
  height: 900px;
}
