<head> </head>

<div class="divContainer">
  <div class="routeMenuContainer">
    <h2>Route Summary</h2>
    <form class="routeSelectorForm">
      <div>
        <label for="routeIdSelector">Select route: </label>
        <select id="routeIdSelector" name="selectedRouteId" [(ngModel)]="selectedRoute">
          <option *ngFor="let routeId of routeList" [ngValue]="routeId.id">{{ routeId.title }}</option>
        </select>
      </div>
      <button type="submit" (click)="displayRoute()">Display Route</button>
    </form>
    <button type="button" (click)="clearAllWaypoints()">Clear all</button>
  </div>
  <div class="mapContainer">
    <div class="mapBorder">
      <div id="map"></div>
    </div>
  </div>
</div>
