.user-routes {
  position: relative;
  width: 1920px;
  height: 1080px;
  background-color: #2f2d2d;
}

.user-routes .overlap-group {
  position: absolute;
  width: 810px;
  height: 147px;
  top: 127px;
  left: 129px;
  background-color: #5b5550;
  border-radius: 84px;
}

.user-routes .qaism-routes {
  position: absolute;
  width: 616px;
  height: 79px;
  top: 41px;
  left: 97px;
}

.user-routes .text-wrapper {
  position: absolute;
  width: 244px;
  top: 328px;
  left: 180px;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-routes .image {
  width: 376px;
  height: 308px;
  left: 176px;
  position: absolute;
  top: 421px;
  object-fit: cover;
}

.user-routes .img {
  width: 369px;
  height: 300px;
  left: 796px;
  position: absolute;
  top: 421px;
  object-fit: cover;
}

.user-routes .image-2 {
  width: 368px;
  height: 300px;
  left: 1413px;
  position: absolute;
  top: 421px;
  object-fit: cover;
}

.user-routes .element-london {
  position: absolute;
  width: 392px;
  top: 753px;
  left: 194px;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.user-routes .div {
  position: absolute;
  width: 369px;
  top: 854px;
  left: 194px;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.user-routes .text-wrapper-2 {
  top: 855px;
  left: 1440px;
  position: absolute;
  width: 392px;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.user-routes .text-wrapper-3 {
  top: 853px;
  left: 810px;
  position: absolute;
  width: 392px;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.user-routes .element-paris {
  position: absolute;
  width: 392px;
  top: 753px;
  left: 810px;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.user-routes .element-dhaka {
  position: absolute;
  width: 392px;
  top: 752px;
  left: 1440px;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}
