<head>
  <link rel="stylesheet" href="rating.component.scss" />
</head>

<div class="divContainer">
  <div class="routeMenuContainer" [class.dark-mode]="isDarkMode">
    <h2 style="background-color: transparent">Create your own route!</h2>
    <p *ngIf="routeFound">Total time: {{ travelTime }}h</p>
    <p *ngIf="routeFound">Total distance: {{ travelDistance }}km</p>
    <form>
      <div class="form-group">
        <label for="routeTitle">Title your route:</label>
        <input type="text" [(ngModel)]="routeTitle" name="routeTitle" id="routeTitle" placeholder="Enter a title" class="form-control" />
      </div>
      <div class="form-group">
        <label for="routeDescription">Give a brief description:</label>
        <textarea
          [(ngModel)]="routeDescription"
          name="routeDescription"
          id="routeDescription"
          placeholder="Enter a description"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="city">Choose a city:</label>
        <select [(ngModel)]="selectedCity" name="city" id="city" class="form-control">
          <!-- Ensure ngValue is bound to cityOption.id -->
          <option *ngFor="let cityOption of cities" [ngValue]="cityOption.id">
            {{ cityOption.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="routeCost">Give the cost of the route in £:</label>
        <input
          type="text"
          [(ngModel)]="routeCost"
          name="routeCost"
          id="routeCost"
          placeholder="Enter a rough estimate for cost"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="tags">Select Tags:</label>
        <div class="tags-container" [class.dark-mode]="isDarkMode">
          <div class="form-check" *ngFor="let tag of tagsSharedCollection; let i = index">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="tag.checked"
              (change)="onTagCheckChange(tag, $event)"
              [id]="'tag-' + tag.id"
            />
            <label class="form-check-label" [for]="'tag-' + tag.id">
              {{ tag.name }}
            </label>
          </div>
        </div>
      </div>

      <div class="center-text">
        <button type="button" class="button" (click)="submitRoute()">Submit Route</button>
        <button type="button" class="button button-clear" (click)="clearAllWaypoints()">Clear all</button>
      </div>
    </form>
  </div>
  <div class="mapContainer">
    <div class="mapBorder">
      <div id="map"></div>
    </div>
  </div>

  <!-- create a route creation container. In here there will be multiple text boxes such as title your route, give your route a brief description, choose a city, pick tags and then a submit button-->
</div>
