<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form-container" role="search">
  <!-- Main Row for Inputs and Search Button -->
  <div class="row full-width-row justify-content-end">
    <!-- First Column -->
    <div class="col-md-10">
      <!-- First Row -->
      <div class="row justify-content-evenly">
        <!-- City Input -->
        <div class="col-md-3 col-sm-6">
          <div class="input-container">
            <!-- City Input Field -->
            <div class="form-group position-relative">
              <label for="city" class="sr-only">City:</label>
              <input
                id="city"
                type="text"
                class="form-control"
                formControlName="city"
                [ngbTypeahead]="typeaheadSearch"
                placeholder="Enter a city"
                aria-label="City"
                [attr.aria-invalid]="searchForm.controls['city'].invalid ? true : null"
                [attr.aria-describedby]="searchForm.controls['city'].errors ? 'city-error' : null"
              />
              <!-- Error Message Card for City -->
              <div
                *ngIf="searchForm.get('city')?.invalid && searchForm.get('city')?.touched"
                class="error-card position-absolute start-50 translate-middle-x"
                style="bottom: -100%; transform: translateX(-50%)"
              >
                <div class="card">
                  <div class="card-body text-danger">City is required!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Price Input -->
        <div class="col-sm-6 col-md-3">
          <!-- Price Input Field -->
          <div class="form-group position-relative">
            <label for="price" class="sr-only">Price(£):</label>
            <input
              type="text"
              formControlName="price"
              id="price"
              class="form-control"
              placeholder="Enter price in (£)"
              aria-label="Price"
              [attr.aria-invalid]="searchForm.controls['price']?.invalid ? true : null"
              [attr.aria-describedby]="searchForm.controls['price']?.errors ? 'price-error' : null"
            />
            <!-- Error Message Card for Price -->
            <div
              *ngIf="searchForm.get('price')?.invalid && searchForm.get('price')?.touched"
              class="error-card position-absolute start-50 translate-middle-x"
              style="bottom: -100%; transform: translateX(-50%)"
            >
              <div class="card">
                <div class="card-body text-danger">Price is required!</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Distance Input -->
        <div class="col-sm-6 col-md-3">
          <!-- Distance Input Field -->
          <div class="form-group position-relative">
            <label for="distance" class="sr-only">Distance(km):</label>
            <input
              type="text"
              formControlName="distance"
              id="distance"
              class="form-control"
              placeholder="Enter distance"
              aria-label="Distance"
              [attr.aria-invalid]="searchForm.controls['distance']?.invalid ? true : null"
              [attr.aria-describedby]="searchForm.controls['distance']?.errors ? 'distance-error' : null"
            />
            <!-- Error Message Card for Distance -->
            <div
              *ngIf="searchForm.get('distance')?.invalid && searchForm.get('distance')?.touched"
              class="error-card position-absolute start-50 translate-middle-x"
              style="bottom: -100%; transform: translateX(-50%)"
            >
              <div class="card">
                <div class="card-body text-danger">Distance is required!</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tags Input -->
        <div class="col-sm-6 col-md-3">
          <!-- Tags Input Field -->
          <div class="form-group">
            <div class="tag-input-container">
              <div class="input-button-container" ngbDropdown>
                <label for="tags" class="sr-only">Tags:</label>
                <input
                  type="text"
                  id="tags"
                  class="form-control tag-input"
                  ngbDropdownToggle
                  placeholder="Type to search tags..."
                  [ngbTypeahead]="typeaheadTags"
                  (selectItem)="onSelectTag($event)"
                />
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <!-- Dropdown Checkbox for Tags -->
                  <button
                    class="dropdown-item"
                    *ngFor="let tag of allTags"
                    (click)="toggleTagSelection(tag); $event.preventDefault()"
                    tabindex="0"
                    (keydown)="handleDropdownKeyDown($event)"
                  >
                    <input type="checkbox" [checked]="isSelectedTag(tag)" (click)="toggleTagSelection(tag)" /> {{ tag.name }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Column -->
    <div class="col-md-2">
      <!-- First Row (Search Button) -->
      <div class="row">
        <div class="col-md-12">
          <!-- Search Button -->
          <div class="form-group">
            <label for="search" class="sr-only">Search:</label>
            <!-- Added label for search button -->
            <button type="submit" id="search" class="btn btn-primary" aria-label="Perform search" tabindex="5">Search</button>
          </div>
        </div>
      </div>
      <!-- Second Row (Empty) -->
      <div class="row mt-3">
        <div class="col-md">
          <!-- Leave Empty -->
        </div>
      </div>
    </div>
  </div>
  <!-- Second Row -->
  <div class="row mt-3">
    <!-- Tag Cloud Field -->
    <div class="col-md-12">
      <!-- Tag Cloud Content -->
      <div class="selected-tags mt-2">
        <!-- Display Selected Tags -->
        <span class="badge bg-primary" *ngFor="let tag of selectedTags"
          >{{ tag.name }}
          <!-- Remove Tag Button -->
          <span class="tag-close" (click)="removeTag(tag); $event.stopPropagation()">×</span>
        </span>
      </div>
    </div>
  </div>
</form>
