<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="route">
      <h2 data-cy="routeDetailsHeading"><span>Route</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ route.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ route.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ route.description }}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ route.rating }}</span>
        </dd>
        <dt><span>Distance</span></dt>
        <dd>
          <span>{{ route.distance }}</span>
        </dd>
        <dt><span>Cost</span></dt>
        <dd>
          <span>{{ route.cost }}</span>
        </dd>
        <dt><span>Num Reviews</span></dt>
        <dd>
          <span>{{ route.numReviews }}</span>
        </dd>
        <dt><span>Tag</span></dt>
        <dd>
          <span *ngFor="let tag of route.tags; let last = last">
            <a [routerLink]="['/tag', tag.id, 'view']">{{ tag.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <div *ngIf="route.city">
            <a [routerLink]="['/city', route.city.id, 'view']">{{ route.city.id }}</a>
          </div>
        </dd>
        <dt><span>App User</span></dt>
        <dd>
          <div *ngIf="route.appUser">
            <a [routerLink]="['/app-user', route.appUser.id, 'view']">{{ route.appUser.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/route', route.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>

<style>
  .row-md.jh-entity-details {
    background-color: #444;
    color: #ddd;
    padding: 20px;
    border-radius: 4px;
  }

  h2[data-cy='routeDetailsHeading'] {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: #444;
    padding: 5px 10px;
    border-radius: 4px;
  }
</style>
