<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>For You Page</title>
  </head>
  <body>
    <header>
      <h1>Welcome Back, User</h1>
      <h1 style="background-color: transparent; color: #eeeeee">Welcome Back, User 2651</h1>
      <p>Prepare for your next journey?</p>
    </header>
    <!-- Update the section in your for-you.component.html file -->
    <div class="container">
      <section *ngFor="let route of routes">
        <p>
          <strong>[Route#{{ route.id }}]</strong> <br />
          - {{ route.distance }} Km <br />
          - Rating: {{ route.rating }}
        </p>
        <a class="learn-more" [routerLink]="['/route', route.id, 'view']">Learn More</a>
      </section>
      <div class="load-more" *ngIf="showLoadMoreButton">
        <button (click)="loadMore()">Load Other Recommended Routes</button>
      </div>
    </div>
  </body>
</html>
