<div class="background">
  <div class="adventurous">
    <h1 style="background-color: transparent; color: #eee">Choose your Adventure</h1>
  </div>
  <div class="behindCard">
    <div class="mySlides">
      <jhi-carousel><p>Caption Text</p></jhi-carousel>
      <div class="text">
        <h2 style="background-color: transparent; color: #000000">Customise a Tour</h2>
      </div>
      <jhi-search-form (submittedEvent)="handleSubmitted($event)" (returnedRoutesEvent)="handleReturnedRoutes($event)"> </jhi-search-form>
    </div>
  </div>
  <div class="resultsCard" [ngClass]="{ hidden: !returnedRoutes || returnedRoutes.length === 0 }">
    <!-- Search Results Container -->
    <div *ngIf="returnedRoutes && returnedRoutes.length > 0" class="search-results">
      <h3>Available Routes</h3>
      <!-- Iterate over search results and display them -->
      <div class="route-card-container">
        <div *ngFor="let route of returnedRoutes" class="card-container">
          <!-- Updated routerLink to navigate to the route viewer page -->
          <div class="card shadow-sm">
            <div class="card-body">
              <a [routerLink]="['/mapDisplay', route.id]" class="card-title">{{ route.title }}</a>
              <p class="card-text">{{ route.description }}</p>
              <p class="card-text">Cost: {{ route.cost }}</p>
              <p class="card-text">Distance: {{ route.distance }}</p>
              <p class="card-text">Rating: {{ route.rating }}</p>
              <!-- You can display more details like city, tags, etc. -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- No Results Message -->
  <div *ngIf="submitted && (!returnedRoutes || returnedRoutes.length === 0)" class="no-results">
    <p>No routes found matching your search criteria.</p>
  </div>
</div>
