<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appUser">
      <h2 data-cy="appUserDetailsHeading"><span>App User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appUser.id }}</span>
        </dd>
        <dt><span>Num Routes</span></dt>
        <dd>
          <span>{{ appUser.numRoutes }}</span>
        </dd>
        <dt><span>Num Reviews</span></dt>
        <dd>
          <span>{{ appUser.numReviews }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ appUser.user?.login }}</span>
        </dd>
        <dt><span>Route</span></dt>
        <dd>
          <span *ngFor="let route of appUser.routes; let last = last">
            <a [routerLink]="['/route', route.id, 'view']">{{ route.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-user', appUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
