// Import Bootstrap variables and functions
@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

// Define variables for light mode
$light-background-color: #ffffff;
$light-text-color: #333333;

// Define variables for dark mode
$dark-background-color: #333333;
$dark-text-color: #eeeeee;

// Apply default light mode styles
body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
  background-color: $light-background-color; // Set default background color
  color: $light-text-color; // Set default text color
}

// Other default styles...

// Apply styles for dark mode
body.dark-mode,
h1.dark-mode,
h2.dark-mode,
h3.dark-mode,
h4.dark-mode {
  background-color: $dark-background-color; // Override background color for dark mode
  color: $dark-text-color; // Override text color for dark mode
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */
// Define .jh-card styles for light mode
body:not(.dark-mode) .jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
  background-color: $light-background-color;
  color: $light-text-color;
}

// Define .jh-card styles for dark mode
body.dark-mode .jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
  background-color: $dark-background-color;
  color: $dark-text-color;
}

.error {
  color: white;
  background-color: red;
}

// Add styles for h1, h2, h3, and h4 in light mode
body:not(.dark-mode) {
  h1,
  h2,
  h3,
  h4 {
    background-color: $light-background-color;
    color: $light-text-color; // Set text color for headings in light mode
  }
}

// Add styles for h1, h2, h3, and h4 in dark mode
body.dark-mode {
  h1,
  h2,
  h3,
  h4 {
    background-color: $dark-background-color;
    color: $dark-text-color; // Set text color for headings in dark mode
  }
}

/* ==========================================================================
entity list page css
========================================================================== */

.table-entities thead th .d-flex > * {
  margin: auto 0;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */

$extra-small-font-size: 50%; // 50% of the base font size
$small-font-size: 75%; // 75% of the base font size
$regular-font-size: 100%; // 100% (base font size)
$large-font-size: 125%; // 125% of the base font size
$extra-large-font-size: 150%; // 150% of the base font size

// Apply font size styles
body {
  font-size: $regular-font-size; // Default font size (regular)
}

body.extra-small {
  font-size: $extra-small-font-size; // Apply extra small font size
}

body.small {
  font-size: $small-font-size; // Apply small font size
}

body.large {
  font-size: $large-font-size; // Apply large font size
}

body.extra-large {
  font-size: $extra-large-font-size; // Apply extra large font size
}
