// Import Bootstrap variables and functions
@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

// Define variables for light mode
$light-background-color: #ffffff;
$light-text-color: #333333;

// Define variables for dark mode
$dark-background-color: #333333;
$dark-text-color: #eeeeee;

// Apply default light mode styles
body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
  background-color: $light-background-color; // Set default background color
  color: $light-text-color; // Set default text color
}

// Other default styles...

// Apply styles for dark mode
body.dark-mode,
h1.dark-mode,
h2.dark-mode,
h3.dark-mode,
h4.dark-mode {
  background-color: $dark-background-color; // Override background color for dark mode
  color: $dark-text-color; // Override text color for dark mode
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */
// Define .jh-card styles for light mode
body:not(.dark-mode) .jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
  background-color: $light-background-color;
  color: $light-text-color;
}

// Define .jh-card styles for dark mode
body.dark-mode .jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
  background-color: $dark-background-color;
  color: $dark-text-color;
}

.error {
  color: white;
  background-color: red;
}

// Add styles for h1, h2, h3, and h4 in light mode
body:not(.dark-mode) {
  h1,
  h2,
  h3,
  h4 {
    background-color: $light-background-color;
    color: $light-text-color; // Set text color for headings in light mode
  }
}

// Add styles for h1, h2, h3, and h4 in dark mode
body.dark-mode {
  h1,
  h2,
  h3,
  h4 {
    background-color: $dark-background-color;
    color: $dark-text-color; // Set text color for headings in dark mode
  }
}

// Remaining styles...
