.container {
  width: 60%;
  text-align: center;
  margin: auto;
  height: 100%;
}

.input-box {
  width: 100%;
  float: left;
  background-color: #555;
  border: 2px solid #777;
  border-radius: 4px;
  color: #ddd;
}

.button {
  width: 10%;
  margin: auto;
}

.field {
  width: calc(100% / 3);
  float: left;
}
