<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="search.component.scss" />
  </head>
  <!-- Bind the class dynamically based on the isDarkMode variable -->
  <body [class.dark-mode]="isDarkMode">
    <div class="container">
      <form role="form" (ngSubmit)="$event.preventDefault(); onSearchSubmit()">
        <input
          type="search"
          class="input-box"
          [(ngModel)]="searchQuery"
          name="searchQuery"
          (keyup)="onSearchSubmit()"
          placeholder="Search user"
          tabindex="1"
        />
        <!-- Include in tab order -->
      </form>
      <br />
      <br />
      <div *ngIf="arrayBufferData$ | async as arrayBufferData">
        <p class="field">Username</p>
        <p class="field">Routes travelled</p>
        <p class="field">Reviews posted</p>
        <div *ngFor="let item of arrayBufferData">
          <a class="field" routerLink="../app-user/{{ item.id }}/view" tabindex="2">{{ item.user.login }}</a>
          <!-- Include in tab order and make clickable -->
          <a class="field" routerLink="../app-user/{{ item.id }}/view" tabindex="3">{{ item.numRoutes }}</a>
          <!-- Include in tab order and make clickable -->
          <a class="field" routerLink="../app-user/{{ item.id }}/view" tabindex="4">{{ item.numReviews }}</a>
          <!-- Include in tab order and make clickable -->
        </div>
      </div>
    </div>
  </body>
</html>
